@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* card 1 */
* {
  margin: 0;
}
#container {
  border: 1px solid rebeccapurple;
  width: 600px;
  margin: 10px auto;
}

#card1 {
  background-color: rgb(62, 60, 58);
  width: 600px;
  height: 350px;
}

#imageSection {
  display: inline-block;
  margin-top: 30px;
  margin-left: 10px;
}

#textSection {
  display: inline-block;
  margin-top: 30px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.h2 {
  text-align: left;
  margin-bottom: 10px;
  color: rgb(130, 183, 77);
  font-weight: bolder;
}
li {
  padding: 5px;
  padding-top: 10px;
  color: bisque;
}
.ul {
  list-style-type: none;
}

/* card 2 */

#container2 {
  border: 1px solid rgb(14, 12, 16);
  width: 600px;
  margin: 10px auto;
}

#card2 {
  background-color: rgb(17, 16, 14);
  width: 600px;
  height: 200px;
}

#textSection2 {
  display: inline-block;
  margin-left: 60px;
  color: aqua;
  font-family: "Roboto", sans-serif;
}
#imageSection2 {
  display: inline-block;
  margin-left: 70px;
}

.para {
  margin-top: 30px;
  color: aliceblue;
}
